#intro-screen {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 600px;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  background-image: url("./Imagenes/animefondoprueba2.jpg");
  align-content: center;
}

#game-info {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}
#score-display,
#alives-display {
  font-family: "roboto";
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.451);
  padding: 5px 10px;
  border-radius: 5px;
}
#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  display: none;
  width: 600px;
  height: 700px;
  margin: 0px;
  background-image: url("./Imagenes/fondoBosque.png");
  background-size: cover;
  position: relative;
}

#game-box {
  position: relative;
  width: 600px;
  height: 700px;
  overflow: hidden;
  user-select: none;
}

#game-end {
  display: none;
  flex-direction: column;
  height: 700px;
  width: 600px;
  padding: 20px;
  justify-content: center;
  background-image: url("./Imagenes/end-game.png");
  background-size: cover;
  background-position: center;
}

.coin,
.object {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: cover;
}

.player {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: cover;
}
.logo-img {
  top: 500px;
  width: 600px;
}

.logo-img2 {
  top: 300px;
  left: 1000px;
  width: 300px;
  
 
}
.player {
  background-image: url("./Imagenes/LiebeTiny.png");
}

.coin {
  background-image: url("./Imagenes/OrbeBLanco.png");
}

.object {
  background-image: url("./Imagenes/Obstaculo.png");
}

button {
  font-size: 30px;
  font-family: "roboto";
  text-align: center;
  background-color: #430542db;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  box-shadow: 10;
  border-radius: 50px;
  margin-bottom: 10px;
}
